body {
  background-color: rgb(44, 44, 44);
}

h1 {
  color: aqua;
  display: flex;
  justify-content: center;
}

p {
  color: aqua;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid transparent;
}
.username {
  display: flex;
  justify-content: center;
}

.password {
  display: flex;
  justify-content: center;
}

.submit__btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
